<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TravServlet</display-name>
    <servlet-name>TravServlet</servlet-name>
    <servlet-class>travisweb.TravServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TravServlet</servlet-name>
    <url-pattern>/TravServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>travisweb.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolrServlet</display-name>
    <servlet-name>SolrServlet</servlet-name>
    <servlet-class>travisweb.SolrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolrServlet</servlet-name>
    <url-pattern>/SolrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerformanceServlet</display-name>
    <servlet-name>PerformanceServlet</servlet-name>
    <servlet-class>travisweb.PerformanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerformanceServlet</servlet-name>
    <url-pattern>/PerformanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NodetoolServlet</display-name>
    <servlet-name>NodetoolServlet</servlet-name>
    <servlet-class>travisweb.NodetoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NodetoolServlet</servlet-name>
    <url-pattern>/NodetoolServlet</url-pattern>
  </servlet-mapping>
</web-app>